body{
    background-color: rgb(252, 248, 248);
}
.ul{
    width: 100%;
    background-color: white;
    justify-content: start;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
}
.ul li{
    margin-top: 20px;
}
img{
    margin-left: 200px;
    width: 150px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#search{
    height: 35px;
    width: 500px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    outline: 0;
    border: 0.3 solid gainsboro;
}
button{
    margin-top: 25px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin-left:-10px;
    width: 100%;
    margin-top: -10px;
    overflow: hidden;
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;

}
li{
    float: left;
}
li a {

    display: block;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
}
span{
    margin-left: 400px;
}
 .main1{
    position: relative;
    display: flex;
    width: fit-content;
    gap: 10px;
    margin-top: 10px;
 }
 .main1 img{
    width: 1000px;
    height: 310px;
    margin: 0px 0px;
    box-shadow: 2px 2px 8px rgb(202, 202, 201);
    border: 0;
    border-radius: 8px;
}
.h2{
    margin: 0;
    background-color: white;
}
h2{
    margin-left: 100px;
    margin-bottom: 0;
    font-weight: bold;
}
 .caro{
    display: flex;
    width: 100%;
    height: 550px;
    background-color:white;
    padding: 15px 0;
    margin-left: 60px;
    align-items: center;
   
 }
 
.caro img{
    height: 400px;
    width: 250px;
    margin: 20px 20px;
    border-radius: 6px; 
}
.container{
    width: 100%;
    height: 200px;
    background-color: white;
    
}

.container>.img{
    width: 150vh;
    height: 100px;
    margin-top: 20px;
}
.head2{
    margin: 0;
    background-color: white;
    
}
h3{
    margin-left: 100px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}
.events{
    display: flex;
    width: 100%;
    height: 300px;
    margin-left: 200px;
    
}
.events  img{
   width: 200px;
   height: 200px; 
   margin: 0;
   margin-left: 30px;
   border-radius: 8px;
   margin-top: 10px;
}
.mdiv{
    width: 100%;
    height: 600px;
    margin-top: O;
    background-color: #2d2f4d;
}
.prim{
    width: 200px;
    height: 200px;
}
.prim img{
    width: 1000px;
    height: 100px;
    margin: 0;
    margin-left: 210px;
    
}
.heading span{
    color: white;
    margin-left: 210px;
    font-weight: bold;
    font-size: 30px;
}
.heading p{
    color: white;
    margin-left: 210px;
    margin-top: 0.5px;
    
}
.pimg{
    display:flex;
   margin-left: 200px;
}
.pimg img{
    width: 220px;
    height: 300px;
    margin: 0;
    margin-left: 30px;
    border-radius: 8px;
}
 